

.productCard {
    border: 2px solid #428567;
    border-image: linear-gradient(to left top,#428567 10%,  transparent 30%, transparent 70%, #428567 90%);
    border-image-slice: 1;
    padding: 30px;
    max-width: 800px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(66, 133, 103, 0.1);
}

.productTitle {
    text-transform: uppercase;
    border-bottom: 2px solid #428567 ;
    margin-top: 12px;
    font-size: 50px;
}

.productImg {
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}
