:root {
    --line-width: 300px;
    --content-width: calc(100% - var(--line-width) - 10%);
    --button-position: 20px;
    --history-width: 100%;
    --history-height: 60vh;
}

.Profile {
    height: 100%;
}

.lineImage {
    position: fixed;
    top: 80px;
    left: 0;
    min-width: var(--line-width);
    background-image: url('../photos/RestorationGrundig2016/BKL_7277.JPG');
    background-size: cover;
    background-position: right;
    height: 100%;
}

.line {
    position: fixed;
    top: 80px;
    left: 0;
    min-width: var(--line-width);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0);
    margin-right: 100px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.content {
    position: relative;
    top: 90px;
    left: calc(var(--line-width) + 5%);
    max-width: var(--content-width);
    font-size: 20px;
    color: #fff;
}

.greetingsImage {
    background-image: url('../photos/restorationDiatone2017/2017-chopchop-1026.jpg');
    background-size: cover;
    background-position: right;
    border-radius: 40px;
}

.greetings {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border: 1px solid #000;
    padding: 40px;
    border-radius: 40px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: 600;
}

h1 {
    margin: 0 0 20px 0;
    font-size: 50px;
    text-transform: uppercase;
}

.history {
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 8px rgba(66, 133, 103, 0.4);
    background-color: whitesmoke;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    height: var(--history-height);
    margin-top: 40px;
    display: flex;
    overflow: auto;
}

.history::-webkit-scrollbar {
    width: 10px;
}

.text {
    padding-left: 20px;
    padding-top: 5px;
    display: flex;
    color: black;
    height: 100px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 8px rgba(66, 133, 103, 0.4);
    border-radius: 10px;
    margin-top: 12px;
    z-index: 10;
    overflow: auto;
}

.botButton {
    position: fixed;
    left: var(--button-position);
    bottom: 20px;
    display: flex;
    flex-direction: column;
}

.topButton {
    position: fixed;
    left: var(--button-position);
    top: 100px;
    display: flex;
    flex-direction: column;
}

.alert-enter {
    transform: translateY(200px);
    opacity: 0;
}

.alert-enter-active {
    transform: translateY(0);
    transition: all 400ms ease;
    opacity: 1;
}

.alert-exit {
    opacity: 1;
}

.alert-exit-active {
    transform: translateY(200px);
    transition: all 400ms ease;
    opacity: 0;
}

@media screen and (max-width: 1200px) {
    .lineImage {
        min-width: 180px;
    }

    .line {
        min-width: 180px;
    }

    .content {
        left: 200px;
        max-width: calc(90% - 160px);
    }

    h1 {
        margin: 0 0 20px 0;
        font-size: 30px;
        text-transform: uppercase;
    }

    .button {
        width: 115px;
    }
}

@media screen and (max-width: 500px) {
    .lineImage {
        min-width: 100px;
    }

    .line {
        min-width: 100px;
    }

    .content {
        left: 110px;
        max-width: calc(90% - 80px);
    }

    h1 {
        margin: 0 0 10px 0;
        font-size: 25px;
    }

    .button {
        width: 50px;
        font-size: 12px;
    }

    .botButton {
        position: fixed;
        left: 8px;
        bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .topButton {
        position: fixed;
        left: 8px;
        top: 100px;
        display: flex;
        flex-direction: column;
    }

    .greetings {
        font-size: 18px;
        padding: 10px;
    }

    .text {
        font-size: 14px;
    }
}