


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.greetings {
    background-color: rgba(66, 133, 103, 0.8);
    width: 600px;
    height: 100px;
    border: 2px solid;
    box-shadow: 4px 4px 4px rgba(172, 161, 161, 0.8);
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    align-items: center;
    margin-bottom: 48px;
}

.button {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.input {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    
}




/* .visible.active {
    display: flex;
}

.visible {
    display: none;
} */
