@import url('https://fonts.googleapis.com/css2?family=Abel&family=Indie+Flower&family=Montserrat:wght@300;400;600&family=Mulish:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

.about {
    margin-top: 150px;
    display: flex;
}

.container {
    width: 100%;
}

.aboutHeader {
    display: flex;
    justify-content: center;
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 30px;
    word-spacing: 20px;
    letter-spacing: 5px;
    color: #428567;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}

.aboutText {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 100px;
    background: url('../../photos/wires2017/BKL_7337.JPG');
    background-size: cover;
    background-attachment: fixed;
}

.textCard {
    border: 2px solid #428567;
    width: 400px;
    height: 150px;
    border-radius: 20px;
    text-align: justify;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}
.card1 { align-self: flex-start; }
.card2 { align-self: center; }
.card3 { align-self: flex-end; }

@media screen and (max-width: 1200px) {
    .card1, .card2, .card3 {
        align-self: normal;
    }
    .about {
        margin-top: 100px;
    }
    .aboutHeader {
        font-size: 36px;
    }
    .aboutText {
        background-image: url('../../photos/wires2017/BKL_7337.JPG');
        width: 100%;
        background-size: initial;
        background-position-x: 50%;
        background-position-y:40%;
        padding: 20px;
    }
    .textCard {
        padding-top: 12px;
        font-size: 16px;
        line-height: 18px;
    }
}
