@import url('https://fonts.googleapis.com/css2?family=Abel&family=Indie+Flower&family=Montserrat:wght@300;400;600&family=Mulish:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

.about {
    margin-top: 150px;
    display: flex;
}

.container {
    width: 100%;
}

.about__header {
    display: flex;
    justify-content: center;
    font-size: 48px;
    margin-bottom: 30px;
    word-spacing: 50px;
    letter-spacing: 5px;
    color: #fff;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}

.about__text {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 100px;
    background: url('../../photos/wires2017/BKL_7337.JPG');
    background-size: cover;
    background-attachment: fixed;
}

.block__1 {
    width: 400px;
    height: 250px;
    border: 2px solid #62fdc4;
    border-radius: 20px;
    padding: 25px 15px;
    font-size: 22px;
    margin-left: 10%;
    align-self: flex-start;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}

.block__2 {
    width: 400px;
    height: 200px;
    border: 2px solid #62fdc4;
    border-radius: 20px;
    padding: 25px 15px;
    font-size: 22px;
    text-align: center;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}

.block__3 {
    width: 400px;
    height: 250px;
    border: 2px solid #62fdc4;
    border-radius: 20px;
    padding: 25px 15px;
    font-size: 22px;
    align-self: flex-end;
    margin-right: 10%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}