@import url('https://fonts.googleapis.com/css2?family=Abel&family=Indie+Flower&family=Montserrat:wght@300;400;600&family=Mulish:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
    list-style-type: none;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.logo {
    width: 80px;
    height: 80px;
}

.logo:hover {
    cursor: pointer;
    opacity: 0.6;
}

.navbar li {
    display: inline;
    position: relative;
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    cursor: pointer;
}

.navbar li::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: 0.4s;
}

.navbar li:hover::before {
    width: 100%;
}