.footer {
    background: #ededed;
    margin-top: 30px;
}

.info {
    display: flex;
    justify-content: space-around;
}

.socials {
    padding: 10px;
    font-size: 18px;
    line-height: 27px;
}
.socials p {
    margin: 15px 0px 0px 10px;
    padding-bottom: 10px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    text-decoration-color: #428567;
}
.socials a {
    margin-left: 45px;
    color: #000;
}
.socials a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    text-decoration-color: #428567;
}

.socialFacebook a{
    background: url('./socialLogo/facebook.svg') left no-repeat;
    background-size: 25px 19px;
    padding-left: 25px;
}
.socialInstagram a{
    background: url('./socialLogo/instagram.svg') left no-repeat;
    background-size: 30px 25px;
    padding-left: 28px;
    margin-left: 43px;
}
.socialVk a{
    background: url('./socialLogo/vk.svg') left no-repeat;
    background-size: 27px 21px;
    padding-left: 25px;
}

.connections {
    padding: 10px;
    font-size: 18px;
    line-height: 27px;
}
.connectionRequest {
    font-weight: 700;
    cursor: pointer;
    position: relative;
    border-bottom: 2px dotted #000;
}
.connectionRequest::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #428567;
    transition: 0.4s;
}
.connectionRequest:hover::before {
    width: 100%;
}
.connections p {
    margin: 15px 0px 0px 10px;
    padding-bottom: 10px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    text-decoration-color: #428567;
}
.connections div {
    margin-left: 20px;
}

.extraInfo {
    margin-top: 20px;
    font-size: 15px;
}
.extraInfo p{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.extraInfo p:nth-last-child(1) {
    font-style: italic;
    margin-top: 5px;
}
