.gInput{
    width: 100%;
    margin: 4px 0px;
    padding: 5px 15px;
    border:2px solid rgba(66, 133, 103, 0.8);
    font-size: 24px;
}

.gInput:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.gInput:active {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}